[user]
    name = Steve Tweeddale
    email = stevetweeddale@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    ; st = status
    st = !tig status
    lg = !git log \"$@\" | tig
    co = checkout
    ci = commit
    ap = add -p
    up = "!git pull --rebase $1$2"
    cim = "!git commit -c`git log -n1 --pretty=format:"%h" --author="Tweeddale"` --date=\"$(date)\""
    permission-reset = '!git diff -p | grep -E "^(diff|old mode|new mode)" | sed -e "s/^old/NEW/;s/^new/old/;s/^NEW/new/" | git apply'
    switch = !legit switch \"$@\"
    branches = !legit branches
    sprout = !legit sprout \"$@\"
    unpublish = !legit unpublish \"$@\"
    harvest = !legit harvest \"$@\"
    sync = !legit sync \"$@\"
    publish = !legit publish \"$@\"
    graft = !legit graft \"$@\"

[branch]
    autosetuprebase = always

[push]
    default = simple

; This enables singlekey responses in when doing stuff with -p
[interactive]
    singlekey = true

[core]
    excludesfile = /opt/boxen/config/git/gitignore

[merge]
  tool = opendiff

[url "ssh://git@git.drupal.org/project/"]
    insteadOf = "dp:"
[url "ssh://git@git.drupal.org/sandbox/"]
    insteadOf = "ds:"
[url "git@github.com:computerminds/"]
    insteadOf = "cm:"
[url "git@github.com:freshnetworks/"]
    insteadOf = "fn:"

[hub]
    protocol = https

[include]
    path = .gitconfig.local
