[user]
    name = Steve Tweeddale
    email = stevetweeddale@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    st = !tig status
    lg = !git log \"$@\" | tig
    co = checkout
    ci = commit
    ap = add -p
    up = "!git pull --rebase $1$2"
    pushp = "!git push -u origin $(git symbolic-ref --short HEAD)"
    permission-reset = '!git diff -p | grep -E "^(diff|old mode|new mode)" | sed -e "s/^old/NEW/;s/^new/old/;s/^NEW/new/" | git apply'
    hide = update-index --skip-worktree
    unhide = update-index --no-skip-worktree
    hidden = "! git ls-files -v | grep '^S' | cut -c3-"
    root-clean = "!git clean "

[branch]
    autosetuprebase = always

[push]
    default = simple

; This enables singlekey responses in when doing stuff with -p
[interactive]
    singlekey = true

[include]
    path = .gitconfig.local
